* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    height: 100%;
    /* background-color: yellow; */
    overflow: hidden;

}

body {
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

img, picture, video, canvas {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

section {
    display: flex;
    justify-content: center;
    background-color: rgb(100, 48, 48);
    height: 100%;
    width: 100%;
}

main {
    display: block;
    position: absolute;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(150, 64, 178);
    padding: 50px 20px;
    /* padding-left: 10vw; */
    z-index: -200;
}

h1, h2 {
    text-align: center;
}

.grid-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: min(80vw,50vh);
    width: min(80vw, 50vh);
    /* margin-bottom: 20px; */
    /* background-color: hsl(105, 35%, 49%); */
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    /* background-color: hsl(105, 35%, 49%); */
}

.grid__background {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: teal;
    height: 100%;
    width: 100%;
    z-index: -50;

}

.grid__div {
    flex: 0 0 calc(100% / 16);
    opacity: 1;
    /* background-color: rgba(rgba(185, 106, 106, 0.553) */
}

img {
    position: absolute;
    height: min(80vw, 80vh);
    width: min(80vw, 80vh);
    z-index: -100;
}

button {
    font-size: 8px;
    /* width: 100px; */
    text-align: center;
    padding: 4px 8px;
    border-radius: 12px;
    border: none;
}

button:hover {
    background-color: yellow;
}

button:active {
    scale: 90%;
    background-color: rgb(195, 195, 0);
}

.odin {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.233);
}

.odin svg {
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 10px;
    height: 50%;
    width: 50%;
}

body > svg {
    display: none;
}