* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    height: 100%;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: rgb(53, 115, 150);
    height: 100dvh;
    width: 100vw;
    /* overflow: hidden; */
    overflow: scroll;
    font-family: "baucher-gothic-urw-extended", sans-serif;
    font-weight: 700;
    font-style: normal;

}

img, picture, video, canvas {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgb(53, 115, 150);
    height: 120dvh;
    width: min(500px, 100%);
    margin: 0 16px;
    /* z-index: -20; */
    z-index: 1000;
    pad: 0 20px;

}

main {
    position: relative;
    width: 100%;
    /* max-width: 500px; */
    height: fit-content;
    margin: 16px 16px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    justify-content: start;
    background-color: rgb(64, 136, 178);
    padding: 30px 20px 0px 20px;
    border: 6px dotted rgb(225, 181, 114);
    border-radius: 12px;
    /* padding-left: 10vw; */
    z-index: -200;
    animation: border-anim .75s ease-out infinite alternate;
}

@keyframes border-anim {
    75% {
        /* border-radius: 14px */
        border-color: rgb(225, 181, 114);
    }
    to {
        /* border-radius: 14px */
        border-color: pink;
    }
}

.burst {
    position: absolute;
    right: 20px;
    top: 115px;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}

.burst-text {
    position: absolute;
    color: rgb(64, 136, 178);
    height: 70%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transform-origin: center;
    background-color: pink;
    z-index: 100;
    border: 2px solid rgb(64, 136, 178);
    border-radius: 50%;
    animation: wiggle 5s ease-in-out infinite alternate;
}

@keyframes wiggle {
    50% {
        rotate: -15deg;
    }
    100% {
        rotate: 25deg;
    }
}

.burst svg {
    /* background-color: blue; */
    fill: wheat;
    rotate: 0deg;
    /* text-shadow: 2px 2px black; */
    /* filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.5)); */
    /* text-shadow: ; */
    animation: rotate-burst 10s linear infinite;
}

@keyframes rotate-burst {
    to {
        rotate: 360deg;
    }
}

.main__top1 {
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

h1 {
    font-family: "gardez", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 2rem;
    line-height: 1.4em;
    text-align: center;
    width: 100%;
    /* margin-bottom: 20px; */
    color: white;
}

.main__top2 {
    width: 100%;
    /* background-color: teal; */
    display: flex;
    gap: 16px;
    /* align-items: end; */
    justify-content: start;
}

.top2__left1, .top2__right1 {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.top2__left1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 24px;
    background-color: rgb(53, 115, 150);
    border-radius: 20px;
    flex: .75;
    padding: 0 16px;
    min-width: 100px
}

.top2__right1 {
    align-items: start;
    justify-content: start;
}

h2 {
    color: wheat;
    font-family: "baucher-gothic-urw-extended", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.25rem;
}

.h2-big1 {
    font-size: 1.25rem;
    color: white;
}

.h2-big1:last-of-type {
    line-height: 1.75rem;
}

.million-head-container {
    position: relative;
    display: flex;
    gap: 2px;
    height: 36px;
    /* background-color: rgb(37, 37, 27); */
}

.million-head {
    position: relative;
    display: flex;
    align-items: center;
    width: 24px;
    margin-bottom: 2px;
    filter: drop-shadow(1px 2px hsla(16, 77%, 41%, 0.21));
}

.million {
    /* font-family: "manicotti", sans-serif;
    font-weight: 400;
    font-style: normal; */
    text-shadow: 2px 2px hsla(16, 77%, 41%, 0.21);
    animation: millionAnim 3s ease-in-out infinite alternate;
}

@keyframes millionAnim {
    25% {
        rotate: 0deg;
    }
    35% {
        rotate: -5deg;
    }
    50% {
        scale: 130%;
    }
    65% {
        rotate: 5deg;
    }
    75% {
        rotate: 0deg;
    }
    100% {
        rotate: 0deg;
    }
}

.blink {
    color: pink;
    animation: blink 2s linear infinite alternate;
}

@keyframes blink {
    to {
        color: wheat;
    }
}

.winning-headline {
    /* color: black; */
    font-size: 1.2rem;
}

.win-odds-text, .odds {
    color: white;
    font-size: .75rem;
    letter-spacing: .05rem;
    margin-left: 4px;
}

.winning-keys-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    font-family: "baucher-gothic-urw-extended", sans-serif;
    font-weight: 700;
    font-style: normal;

    /* background-color: red; */
}

.key-row {
    display: flex;
    align-items: end;
    /* justify-content: start; */
    height: 24px;
    /* backgroundx-color: orange; */
}

.keys {
    display: flex;
    gap: 2px;
    width: 50px;
    height: 75%;
    /* background-color: aqua; */
}

.mask-key.keys {
    height: 65%;
    /* background-color: blue; */
}

.keys__img-cont {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

.key-head {
    display: block;
    height: 100%;
    font-size: 1rem;
    color: white;
}

.odds {
    color: wheat;
    display: none;
}

.grid-area {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    margin-top: 16px;
    margin-bottom: 16px;

    z-index: -100;
    border-top: 1px solid white;
    padding-top: 8px;
    /* padding-left: 20px; */
}

.scratch-here {
    position: relative;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 40px;
    /* background-color: aquamarine; */
}

.scratch-here__text {
    color: wheat;
    position: relative;
    /* margin-right: 16px; */
    writing-mode: vertical-lr;
    font-size: 2.2rem;
    line-height: 1.5rem;
}

.scratch-here__arrow-wrapper {
    display: flex;
    height: 30px;
    width: fit-content;
    z-index: 100;
    padding-left: 8px;
    padding-top: 4px;
    /* background-color: aqua; */
}

.scratch-line {
    height: calc(50% + 1px);
    width: 20px;
    /* background-color: pink; */
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.scratch-hand {
    place-content: center;
    height: 100%;
    width: 40px;
    /* background-color: blue; */
}



.grid-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.grid-container, .grid__background {
    aspect-ratio: 1 / 1;
    /* flex: 1; */
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    /* border-radius: 16px; */
    overflow: hidden;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid__background {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /* background-color: rgb(72, 128, 160); */
    align-items: center;
    justify-items: center;
    border: 2px dotted rgb(84, 146, 182);
    z-index: -10;
    /* height: 100%; */
    /* padding: 12px; */

}

.grid__div {
    flex: 0 0 calc(100% / 16);
    opacity: 1;
    /* background-color: rgba(rgba(185, 106, 106, 0.553) */
}

button {
    font-size: 8px;
    /* width: 100px; */
    text-align: center;
    padding: 4px 8px;
    border-radius: 12px;
    border: none;
    align-self: end;
    margin-bottom: 48px;
}

button:hover {
    background-color: yellow;
}

button:active {
    scale: 90%;
    background-color: rgb(195, 195, 0);
}

.odin {
    position: relative;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    /* align-content: start; */
    /* justify-items: start; */
    justify-content: center;
    /* background-color: rgba(255, 166, 0, 0.233); */
}

.odin img {
    border: 3px solid rgb(84, 146, 182);
    border-radius: 20px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

body>svg {
    display: none;
}

.sign-off {
    color: white;
    /* height: 50px; */
    font-family: "elza-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
}

@media (max-width: 350px) {
    .key-head {
        font-size: .75rem;
    }
    .keys {
        display: flex;
        gap: 2px;
        width: 45px;
        height: 60%;
        /* background-color: aqua; */
        margin-bottom: 2px;

    }
    
    .mask-key.keys {
        height: 55%;
        /* background-color: blue; */
    }
    .burst {
        top: 110px;
        right: -8px;
    }
}

@media (min-width: 390px) {
    h2 {
        font-size: 1.2rem;
    }

    .h2-big1 {
        font-size: 1.5rem;
    }

    .odds {
        display: inline;
    }

    .top2__left1 {
        padding: 0 8px;
    }

    .winning-keys-container {
        gap: 4px;
    }

    .key-head {
        padding-left: 4px;
    }
    /* .burst {
        top: 100px;
    } */

}

@media (min-width: 450px) {

    .top2__left1 h2 {
        line-height: 1.5rem;
    }

    .key-head {
        letter-spacing: .1rem;
        font-size: 1.1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .keys {
        width: 60px;
    }
    .burst {
        position: absolute;
        right: 20px;
        top: 125px;
        height: 100px;
        width: 100px;
    }
    .burst-text {
        font-size: 2.5rem;
    }
}